
      body.saberstyle {
        overflow-x: auto;
        background-image: url("background/prodbackground.jpg"); /*kevin asked for this*/
        background-repeat: no-repeat;
        background-attachment: fixed;
          /* Full height */
	  height: 100%;

	  /* Center and scale the image nicely */
	  background-position: center;
          background-size: cover;
      }

      @font-face {
          font-family: Lato;
          src: url(fonts/Lato-Regular.ttf);
      }

      @font-face {
          font-family: Lato;
          src: url(fonts/Lato-Bold.ttf);
          font-weight: bold;
      }

      .rosella-container {
        width: 1500px;
        padding: 2rem;
        margin: 3rem auto 20% auto;
      }

      .rosella-textbox {
          width: 50%;
          padding: 2rem;
          background-color: rgba(196,202,206, 0.8);
          margin: 3rem auto 2% auto;
          border-radius: 25px;
          font-family: Lato, sans-serif;
      }

      .w3schoolnavbar {
            position: relative;
            z-index: 2;
            font-size: 17px;
            background-color: rgba(196,202,206, 0.8);
            color: #f1f1f1;
            width: 100%;
            padding: 2% 0 2% 0;
            margin: 0;
            letter-spacing: 1px;
      }

      a.navbutton {
           border: none;
           font-size: 20px;
           background-color: rgba(196,202,206, 0.0);
           font-family: Garamond, serif;
           text-decoration: none;
           color: black; /* text color */
           margin: 0;
           /*font-weight: bold; */
           padding: 2% 4% 2% 4%;
      }
      a.navbutton:hover {
        background-color: rgb(255,255,255,0.8);
      }
