<style>
  nav.headbarstyle{
  padding: 0.25em 1em;
  font-size: 17px;
  text-decoration: none; /* no underline */
  background-color: #1BBC9B; /* pale bluish white */
  //border: 2px solid black;
  //border-top-left-radius: 1em 1em; /* rounded corner! */
  //border-top-right-radius: 1em 1em; /* another rounded corner! */
}

a.navbutton {
	border: none;
	font-size: 33px;
	background-color: #1BBC9B;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
	text-decoration: none;
	color: white; /* text color */
	margin: 5%;
}
</style>
  
<nav class="headbarstyle">
  <a  class = "navbutton" href = "https://maths-club.github.io/"> Home </a>
  <a class = "navbutton" href = "https://maths-club.github.io/"> Home </a>
</nav>
